In [1]:
import pandas as pd 
import numpy as np

In [2]:
usa_df = pd.read_csv('../data_eda/usa_df.csv')
japon_df = pd.read_csv('../data_eda/japan/japan_scrapped_dataset-28-06-2023-1920.csv')

In [3]:
usa_df.head(2)

,time,latitude,longitude,depth,mag,magType,nst,gap,dmin,rms,...,updated,place,type,horizontalError,depthError,magError,magNst,status,locationSource,magSource
0,2023-06-29T04:46:02.350Z,38.796166,-122.781166,3.83,0.28,md,6.0,145.0,0.006061,0.01,...,2023-06-29T05:02:15.178Z,"3km NW of The Geysers, CA",earthquake,1.12,3.04,0.040,8.0,automatic,nc,nc
1,2023-06-29T04:45:40.370Z,33.659167,-116.732167,12.40,0.39,ml,17.0,54.0,0.053990,0.11,...,2023-06-29T04:49:10.599Z,"9km S of Idyllwild, CA",earthquake,0.24,0.38,0.133,11.0,automatic,ci,ci

In [4]:
usa_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 429325 entries, 0 to 429324
Data columns (total 22 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   time             429325 non-null  object
 1   latitude         429325 non-null  float64
 2   longitude        429325 non-null  float64
 3   depth            429325 non-null  float64
 4   mag              429325 non-null  float64
 5   magType          429324 non-null  object
 6   nst              423185 non-null  float64
 7   gap              429289 non-null  float64
 8   dmin             425008 non-null  float64
 9   rms              429232 non-null  float64
 10  net              429325 non-null  object
 11  id               429325 non-null  object
 12  updated          429325 non-null  object
 13  place            428485 non-null  object
 14  type             429325 non-null  object
 15  horizontalError  349461 non-null  float64
 16  depthError       429233 non-null  float64
 17  magError         392201 non-null  float64
 18  magNst           410596 non-null  float64
 19  status           429325 non-null  object
 20  locationSource   429325 non-null  object
 21  magSource        429325 non-null  object
dtypes: float64(12), object(10)
memory usage: 72.1+ MB

In [5]:
japon_df.head(2)

,det_fecha_hora,epi,mag,int_max,emis_fecha_hora,href,det_fecha_hora_local,lat_0,lon_0,prof_epi,id,prof_epi_nro,lat,lon
0,2023-06-28 14:27:00,Sur de Prefectura de Kioto,2.2,1,2023-06-28 14:31:00,https://www.data.jma.go.jp/multi/quake/quake_d...,2023-06-29 02:27:00,35.0N,135.6E,Poco profundo,20230629023106,1.0,35.0,135.6
1,2023-06-28 05:22:00,Norte de región Soya,3.0,2,2023-06-28 05:25:00,https://www.data.jma.go.jp/multi/quake/quake_d...,2023-06-28 17:22:00,44.9N,142.1E,10km,20230628172546,10.0,44.9,142.1